<nav>
  <div class="nav-wrapper grey darken-3">
    <div class="">
      <div class="row">
        <a href="#!" class="brand-logo center"><span >BILL </span> <span class=" hide-on-med-and-down">INFORMATION</span></a>
        <!-- <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>  -->
        <ul class="right">
          <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{username}}<i class="material-icons right">arrow_drop_down</i></a></li> -->
          <li><a (click)="changelang();"><i class="material-icons left">language</i>{{language}}</a></li>
        </ul>
        <!-- <ul class="side-nav navbar-fixed" id="mobile-demo">
          <li><a routerLink="/transfershift"><i class="material-icons left">compare_arrows</i>Transfer Shift</a></li>
          <li><a routerLink="/report"><i class="material-icons left">insert_chart</i>Report</a></li>
          <li><a routerLink="/closeday"><i class="material-icons left">event_note</i>Close Day</a></li>
          <li><a routerLink="/changedate"><i class="material-icons left">date_range</i>Change Date</a></li>
          <li><a routerLink="/interface"><i class="material-icons left">featured_play_list</i>Interface</a></li>
          <li><a routerLink="/inquiry"><i class="material-icons left">filter_frames</i>Inquiry</a></li>
          <li><a routerLink="/reopen"><i class="material-icons left">chrome_reader_mode</i>ReOpen</a></li>
          <li><a routerLink="/revoid"><i class="material-icons left">content_copy</i>ReVoid</a></li>
          <li><a routerLink="/fulltax"><i class="material-icons left">content_paste</i>FullTax</a></li>
          <li><a routerLink="/viewmenu"><i class="material-icons left">menu</i>View Menu</a></li>
          <li><a routerLink="/login"><i class="material-icons left">exit_to_app</i>Logout</a></li>
        </ul> -->
      </div>
    </div>
  </div>
</nav>

<router-outlet > </router-outlet>
<nav class="nav-extended hide-on-large-only" (window:resize)="onResize($event)">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a id="take" (click)="takeOrder();">Menu</a></li>
        <!-- <li class="tab"><a id="print" href="#test2">Print <span class="hide-on-small-only">Bill</span></a></li>
        <li class="tab"><a id="payment" href="#test4">Payment</a></li> -->
        <li class="tab"><a id="bill" (click)="billDetail();">Bill Detail</a></li>
      </ul>
    </div>
  </nav>
