<div class="row grey darken-2 height100" >
  <div class=" col s12 l4 xl4 ">
    <div class="row ">
      <a (click)="showMenu();"  class="button-collapse hide-on-large-only"><i class="material-icons white-text">menu</i></a> 
      <span class="right white-text">  Menu: {{menu}} ,Outlet: {{outlet}}</span>
    </div>
    <div  id="pMenu" class="hide-on-med-and-down scroll" >
      <div *ngIf="pGroup" class="row">
        <div class="col s6 m3 l6 xl4 pad" *ngFor="let item of groupData">
          <div class="card">
            <div class="card-image">
              <img (click)="GroupClick(item.gname);" [src]="item.image" alt="">
            </div>
            <div class="card-content card-padding0  center">
              <a (click)="GroupClick(item.gname);"><span class="card-title font-menu btn grey darken-3">{{item.gname}}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div id="pSubGroup" *ngIf="pSubGroup" class="row ">
        <div class="col s6 m3 l6 xl4 pad" *ngFor="let item of subGroup">
          <div class="card">
            <div class="card-image">
              <img (click)="SubGroupClick(item.subname);" [src]="item.image" alt="">
            </div>
            <div class="card-content card-padding0  center">
              <a (click)="SubGroupClick(item.subname);"><span class="card-title font-menu btn grey darken-3">{{item.subname}}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div id="pItem" *ngIf="pItem" class="row ">
        <div class="col s6 m3 l6 xl4 pad" *ngFor="let item of item">
          <div class="card">
            <div class="card-image">
              <img (click)="itemClick(item.itemname);" [src]="item.image" alt="">
            </div>
            <div class="card-content card-padding0  center">
              <a (click)="itemClick(item.itemname);"><span class="card-title font-menu btn grey darken-3">{{item.itemname}}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="pfnBill" class="row">
          <div class="col s6 m3 l6 xl4 pad" *ngFor="let item of fnBillData">
            <div class="card">
              <div class="card-image">
                <img  [src]="item.image" alt="">
              </div>
              <div class="card-content card-padding0  center">
                <a ><span class="card-title font-menu btn grey darken-3">{{item.name}}</span></a>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="pfnItem" class="row ">
            <div class="col s6 m3 l4 xl4 pad" *ngFor="let item of fnItemData">
              <div class="card">
                <div class="card-image">
                  <img  [src]="item.image" alt="">
                </div>
                <div class="card-content card-padding0  center">
                  <a ><span class="card-title font-menu btn grey darken-3">{{item.name}}</span></a>
                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
  <div class=" col s8 l6 xl6 white ">
    <div>
      <div class="col s12 m4 ">
        Guest Chk# : <span>{{guestchk}}</span>
      </div>
      <div class="col s12 m8">
        Order Date : <span>{{OrderDate | date: 'dd/MM/yyyy'}}</span>
      </div>
    </div>
    <div >
      <div class="col s12 m4 ">
        Table : <span>{{tableid}}</span>
      </div>
      <div class="col s12 m8">
        Mode : <span>{{salemode}}</span>
      </div>
    </div>
    <div class="col s12">
      Cover : <span>{{cover}}</span>
    </div>
    <div class="row col s12">
        <a class="btn pre col s1"></a>
        <a class="btn cover col s1" ></a>
        <a class="btn next col s1 right"></a>
      </div>
    <div class="row">
      <div class="card-padding0">
        <img src="./assets/image/b_top.png" class="responsive-img  " alt="">
        <img src="./assets/image/b_Up.png" class="responsive-img  " alt="">
        <img src="./assets/image/b_down.png" class="responsive-img " alt="">
        <img src="./assets/image/b_bottom.png" class="responsive-img " alt="">
      </div>
    </div>
    <div class="detailheight">
      <div class="">
          <table class="bordered " border="1">
              <thead>
                <tr class="row black white-text">
                  <th class="col s8">Description</th>
                  <th class="col s1">Qty</th>
                  <th class="col s2 ">Price</th>
                  <th class="col s1">Seat</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let bill of billData; let i=index;" class="highlight" style="height:30px;" >
                  <th class="col s8">{{bill.itemName}}</th>
                  <th class="col s1">{{bill.qty}}</th>
                  <th class="col s2 ">{{bill.Price}}</th>
                  <th class="col s1">{{bill.seat}}</th>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
    <div class="row black">
      <div class="col s10">
        <span class="white-text">Total :</span>
      </div>
      <div class="right">
        <span class="white-text" >{{total}}</span>
      </div>
    </div>
  </div>
  <div class=" col s4 l2 xl2  grey darken-2">
    <div class="row">
      <!-- <span class="right white-text">  Menu: {{menu}} ,Outlet: {{outlet}}</span> -->
    </div>
    <div class="row">
      <div class="row">
        <div class="col s12 m6 xl6 card-padding0">
          <div class="card margin0">
            <div class="card-image">
              <img (click)="gMenu();" src="./assets/image/icon_takeorder.png" alt="">
            </div>
          </div>
        </div>
        <div class="col s12 m6 xl6 card-padding0">
          <div class="card margin0">
            <div class="card-image">
              <img (click)="PrintClick();" src="./assets/image/icon_print.png" alt="">
            </div>
          </div>
        </div>
        <div class="col s12 m6 xl6 card-padding0">
          <div class="card margin0">
            <div class="card-image">
              <img (click)="fnBillClick();" src="./assets/image/icon_function.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="grey lighten-5 z-depth-1">
          <div class="row margin0">
            <input id="txtqty" class="right-align" type="text" [(ngModel)]="qty" materialize="updateTextFields" minlength="1">
          </div>
          <div class="row margin0">
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(1);" src="./assets/image/b_1.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(2);" src="./assets/image/b_2.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(3);" src="./assets/image/b_3.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>

          </div>
          <div class="row margin0">
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(4);" src="./assets/image/b_4.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(5);" src="./assets/image/b_5.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(6);" src="./assets/image/b_6.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
          </div>
          <div class="row margin0">
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(7);" src="./assets/image/b_7.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(8);" src="./assets/image/b_8.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(9);" src="./assets/image/b_9.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
          </div>
          <div class="row margin0">
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="clearNum();" src="./assets/image/b_CE.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="addNum(0);" src="./assets/image/b_0.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
            <div class="card margin0">
              <div class="card-image col s4 card-padding0">
                <img (click)="delNum();" src="./assets/image/b_backspace.jpg" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>